<template>
    <div class="posts">
        <div class="container">
            <div v-if="isLoadingPosts">
                Loading...
            </div>
            <div v-if="!isLoadingPosts" class="row">
                <div class="col-12 col-md-3" v-for="post in posts" v-bind:key="post.id">
                    <Post :post="post"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./Posts.ts"></script>

<style scoped lang="scss" src="./Posts.scss"></style>
