.post-page {
  padding-top: 20px;
}

.post-page__title {
  color: #000;
}

.post-page__content {
  margin-bottom: 30px;
}

.post-page__content img {
  width: 100%;
  max-width: 400px;
  display: block;
}

.post-page__comments-title {
  margin-bottom: 30px;
}

.post-page__comment-author {
  font-size: 14px;
  margin-bottom: 0;
  color: grey;
}

.post-page__comments-form {
  margin-bottom: 30px;
}

.post-page__comments-input-comment {
  width: 100%;
  max-width: 600px;
  display: block;
  margin-bottom: 10px;
  resize: none;
}

.post-page__comments-input-name {
  width: 100%;
  max-width: 300px;
  display: inline-block;
  margin-right: 10px;
}

.post-page__comment {
  max-width: 600px;
}

.post-page__comment_just-now {
  background: #fdfdfd;
}

.post-page__like {
  color: #BEBEBE;
}

@media screen and (max-width: 600px){
  .post-page__comments-input-name {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .post-page__comments-submit {
    width: 100%;
  }
}
