<template>
    <div class="post-page">
        <div v-if="postResponse.isLoadingPost" class="loading">
            <div class="container">
                Loading...
            </div>
        </div>
        <div class="container" v-else-if="postResponse.post">
            <h1 class="post-page__title">{{postResponse.post.title}}</h1>
            <div class="post-page__content">
                <vue-markdown>{{postResponse.post.text}}</vue-markdown>
            </div>
            <h2 class="post-page__comments-title">Comments</h2>
            <div class="post-page__comments-form">
                <textarea v-model="commentValue" class="post-page__comments-input-comment form-control"
                          placeholder="Comment*" rows="3"></textarea>
                <input v-if="!user" v-model="nameValue" type="text" class="post-page__comments-input-name form-control"
                       placeholder="Name*">
                <button :disabled="!validatedComment || postResponse.isLoadingComment"
                        @keyup.enter="postThisComment()"
                        @click="postThisComment()"
                        class="post-page__comments-submit btn btn-primary">
                    <span v-if="postResponse.isLoadingComment">Loading...</span>
                    <span v-else>Comment</span>
                </button>
            </div>
            <div v-if="sortedComments.length === 0">No comments yet...</div>
            <div v-for="comment in sortedComments" class="post-page__comment"
                 v-bind:key="comment.id">
                <p v-if="comment.user !== null" class="post-page__comment-author">{{comment.user.username}}</p>
                <p v-if="comment.user === null && comment.author" class="post-page__comment-author">
                    {{comment.author}}</p>
                <p v-if="comment.user === null && !comment.author" class="post-page__comment-author">Anonimous</p>
                <p class="post-page__comment-text">{{comment.text}}</p>
            </div>
        </div>
    </div>
</template>

<script src="./Post.ts"></script>

<style lang="scss" src="./Post.scss"></style>
