<template>
    <div v-bind:class="{'login__form_active':tab.isActive}" class="login__form login__form-reg">
        <input type="text" class="login__form-input form-control" placeholder="Name*" v-model="userName">
        <input type="email" class="login__form-input form-control" placeholder="Email*" v-model="userMail">
        <input type="password" class="login__form-input form-control" placeholder="Password*"
               v-model="userPassword">
        <button @click="registerUser()"
                :disabled="!isValidateFormRegister"
                class="login__form-submit btn btn-primary">Registration
        </button>
    </div>
</template>

<script src="./RegistrationForm.ts"></script>

<style scoped lang="scss" src="./RegistrationForm.scss"></style>