<template>
    <div @keyup.enter="login" v-bind:class="{'login__form_active':tab.isActive}" class="login__form login__form-login">
        <input type="email" class="login__form-input form-control" placeholder="Email*"
               v-model="userMailLogin">
        <input type="password" class="login__form-input form-control" placeholder="Password*"
               v-model="userPasswordLogin">
        <button @click="login"
                :disabled="!isValidateFormLogin"
                class="login__form-submit btn btn-primary">Login
        </button>
    </div>
</template>

<script src="./LoginForm.ts"></script>

<style scoped src="./LoginForm.scss" lang="scss"></style>