<template>
    <div class="post">
        <router-link class="header__logo" :to="'/post/' + post._id">
            {{post.title}}
        </router-link>
    </div>
</template>

<script src="./Post.ts"></script>

<style scoped src="./Post.scss" lang="scss"></style>
