<template>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-3">
          <router-link class="header__logo" to="/">Logo</router-link>
        </div>
        <div class="col-6 col-md-9">
          <div class="d-flex justify-content-end align-items-center">
            <router-link v-if="!user" class="header__user" to="/login">Login</router-link>
            <div class="header__user" v-if="user">
              <router-link class="header__user-link" to="/user">{{user.username}}</router-link>
              <div class="header__logout" @click="logoutUser">Logout</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script src="./Header.ts"></script>

<style lang="scss" scoped src="./Header.scss"></style>
