.header {
  background: #E5E5E5;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
}

.header__logo {
  color: #000;
  text-decoration: none;
}

.header__user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__logout {
  margin-left: 20px;
  cursor: pointer;
  color: red;
}

.header__logout:hover {
  text-decoration: underline;
}
