<template>
    <footer class="footer">
        <div class="container">
            Footer
        </div>
    </footer>
</template>

<script src="./Footer.ts"></script>

<style scoped lang="scss" src="./Footer.scss"></style>