<template>
    <div class="user">
        <div class="container">
            <div v-if="user !== null" class="user__info">
                <h1>{{user.username}}</h1>
                <div>{{user.email}}</div>
            </div>
        </div>
    </div>
</template>

<script src="./User.ts"></script>

<style scoped lang="scss" src="./User.scss"></style>