<template>
    <div id="app">
        <Header/>
        <div class="main">
            <router-view/>
        </div>
        <Footer/>
    </div>
</template>

<style lang="scss" src="./App.scss"></style>

<script lang="ts" src="./App.ts"></script>
