<template>
    <div class="container">
        <div class="login">
            <div class="login__form-title-group">
                <div v-for="tab in this.userTabs.tabs"
                     class="login__form-title"
                     @click="changeTab(tab.name)"
                     v-bind:class="{'login__form-title_active': tab.isActive}"
                     v-bind:key="tab.name">{{tab.name}}
                </div>
            </div>
            <div v-for="tab in this.userTabs.tabs"
                 v-bind:key="tab.name">
                <LoginForm v-if="tab.isActive && tab.name === 'Login'" :tab="tab"/>
                <RegistrationForm v-if="tab.isActive && tab.name === 'Registration'" :tab="tab"/>
            </div>
        </div>
    </div>
</template>

<script src="./Login.ts"></script>

<style src="./Login.scss" lang="scss"></style>