.login__form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  display: none;
}

.login__form_active {
  display: block;
}

.login__form-title-group {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login__form-title {
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  color: #BEBEBE;
}

.login__form-title_active {
  color: #007bff;
  cursor: default;
}

.login__form-input {
  margin-bottom: 10px;
}

.login__form-submit {
  width: 100%;
  margin-top: 20px;
}